In [19]:
from gensim.models import KeyedVectors
import pandas as pd
from collections import Counter
import nltk
import re
import requests
import pickle

In [2]:
metadata_table_long = pd.read_json("../data/metadata_table_long.json")
metadata_table_long.head(5)

,Author,Full title,In,Year,Place,Publisher/Printer,Era,Form/Genre,Discipline/Content,Original,...,ids,id,date_min,date_max,filename,file_year,sents_n,tokens_n,disciplines_list,science_class
0,"Achrelius, Daniel",Scientiarum magnes recitatus publice anno 1690...,None,1690,[Turku],Wall,17th century,Oration,"Mathematics, Astronomy/Astrology/Cosmography, ...",Scientiarum magnes(Google Books),...,[705665],705665,1690.0,1690.0,"Achrelius,_Daniel_-_Scientiarum_magnes__Turku_...",1690.0,630,8839,"[Mathematics, Astronomy/Astrology/Cosmography,...",mixture
1,"Acidalius, Valens","Ad Iordanum Brunum Nolanum, Italum","Poematum Iani Lernutii, Iani Gulielmi, Valenti...",1603,"Liegnitz, Wrocław","Albert, David",17th century,Panegyric poem,Astronomy/Astrology/Cosmography,Ad Iordanum Brunum (1603)(CAMENA)Ad Iordanum B...,...,[801745],801745,1603.0,1603.0,Janus_Lernutius_et_al__-_Poemata__Liegnitz_160...,1603.0,6527,82445,[Astronomy/Astrology/Cosmography],exact_sciences
2,"Acosta, José de",De natura novi orbis libri duo et De promulgat...,None,1589,Salamanca,Guillelum Foquel,16th century,Monograph,"Astronomy/Astrology/Cosmography, Geography/Car...",De natura novi orbis(Biodiversity Heritage Lib...,...,[713323],713323,1589.0,1589.0,"Acosta,_José_de_-_De_natura_novi_orbis__Salama...",1589.0,8905,170205,"[Astronomy/Astrology/Cosmography, Geography/Ca...",exact_sciences
3,"Adam, Melchior","Vitae Germanorum medicorum, qui saeculo superi...",None,1620,Heidelberg,"Rosa, Geyder",17th century,Biography,Medicine,Vitae Germanorum medicorum(MDZ)Alternative lin...,...,[693148],693148,1620.0,1620.0,"Adam,_Melchior_-_Vitae_Germanorum_medicorum__H...",1620.0,17961,193272,[Medicine],life_sciences
4,"Addison, Joseph",Ad insignissimum virum dominum Thomam Burnettu...,"Examen poeticum duplex, sive, Musarum anglican...",1698,London,Richard Wellington I.,17th century,Panegyric poem,Meteorology/Earth sciences,Ad Burnettum sacrae theoriae telluris auctorem...,...,[769230],769230,1698.0,1698.0,Examen_poeticum_duplex__London_1698_pdf.txt,1698.0,3533,47878,[Meteorology/Earth sciences],exact_sciences

In [4]:
lasla = KeyedVectors.load_word2vec_format("/srv/data/lila/allLASLA-lemmi-fast-100-SKIP-win5-min5.vec")
lasla.most_similar("seminarium")

[('carnarium', 0.8714821934700012),
 ('sudarium', 0.8584282398223877),
 ('uinarius', 0.8317396640777588),
 ('torcularium', 0.8269298672676086),
 ('armarium', 0.8191075325012207),
 ('milliarium', 0.8161847591400146),
 ('mortarium', 0.8139162063598633),
 ('asinarius', 0.7973706722259521),
 ('pomarium', 0.7952086329460144),
 ('olearius', 0.7895564436912537)]

In [5]:
lasla.most_similar("semen", topn=20)

[('sementis', 0.7769805788993835),
 ('germen', 0.65008145570755),
 ('legumen', 0.6492694020271301),
 ('materies', 0.62647545337677),
 ('sulcus', 0.6210276484489441),
 ('stercoro', 0.6130126118659973),
 ('genitalis', 0.6120802760124207),
 ('sumen', 0.6056757569313049),
 ('animans', 0.5975176095962524),
 ('elementa', 0.5954310297966003),
 ('seges', 0.5945314764976501),
 ('primordium', 0.5920283198356628),
 ('bipalium', 0.5892609357833862),
 ('omnigenus', 0.5877910256385803),
 ('ablaqueo', 0.5792651772499084),
 ('renascor', 0.573520839214325),
 ('enascor', 0.5693485736846924),
 ('abdomen', 0.5686165690422058),
 ('priuus', 0.5666219592094421),
 ('augmen', 0.5655485391616821)]

In [23]:
lasla.index_to_key[:10]

['</s>', 'sum', 'et', 'qui', 'in', 'non', 'hic', 'is', 'ut', 'ego']

In [24]:
operamaiora = KeyedVectors.load_word2vec_format("/srv/data/lila/opera-maiora-lemmas_skip_100.vec")
operamaiora.most_similar("anima")

[('intellectiuus', 0.7068129181861877),
 ('separo', 0.7005686163902283),
 ('sensifico', 0.6973943114280701),
 ('sensitiuus', 0.6771703362464905),
 ('corpus', 0.663750171661377),
 ('uegetabilis', 0.6309762597084045),
 ('unio', 0.6247175335884094),
 ('rationalis', 0.623648464679718),
 ('uegetatiuus', 0.618419885635376),
 ('corporeus', 0.60992830991745)]

In [25]:
operamaiora.most_similar("semen")

[('formatiuus', 0.7347741723060608),
 ('decidocaedo', 0.7292525768280029),
 ('sementis', 0.7260836362838745),
 ('decisio', 0.718953549861908),
 ('proauus', 0.708860456943512),
 ('menstruus', 0.7087300419807434),
 ('fetus', 0.7033671736717224),
 ('incubus', 0.6823228597640991),
 ('seminalis', 0.6802768111228943),
 ('spumosus', 0.6695918440818787)]

In [26]:
operamaiora_vocab = operamaiora.index_to_key
len(operamaiora_vocab)

6724

In [27]:
lasla_vocab = lasla.index_to_key
len(lasla_vocab)

11327

In [28]:
vocab_overlap = list(set(lasla_vocab) & set(operamaiora_vocab))
len(vocab_overlap)

3950

In [29]:
source_path = "/srv/data/tome/noscemus/sents_data/"

In [31]:
def get_filtered_counts_by_ids(ids, lowercase=True):
    vocab_counter = Counter() # initiate an empty counter of words - we will feed it iterarively on the go by all words we meet
    for id in ids: # for each work ID from our subset of IDs
        # based on the ID, open the file containing the lemmatized sentences
        f_sents_data = pickle.load(open(source_path + str(id) + ".pickle", "rb"))
        sents_n = len(f_sents_data)
        tokens_n = 0
        lemmata = []
        for sent_data in f_sents_data:
            tokens_n += len(sent_data[1])
            sent_lemmata = [t[1] for t in sent_data[1] if t[2] in ["NOUN", "VERB", "ADJ", "PROPN"]]
            sent_lemmata = [re.sub("\W*|\d*", "", t) for t in sent_lemmata]
            sent_lemmata = [l for l in sent_lemmata if len(l) > 1]
            lemmata.extend(sent_lemmata)
        if lowercase:
            lemmata = [l.lower() for l in lemmata]
        #overview_dict[filename.partition(".")[0]] = {"sents_n" : sents_n, "tokens_n" : tokens_n} 
        word_counts = dict(nltk.FreqDist(lemmata).most_common())
        vocab_counter.update(word_counts)
    return vocab_counter

In [34]:
ids = metadata_table_long[metadata_table_long["file_year"].between(1600, 1610)]["id"]
vocab = get_filtered_counts_by_ids(ids)

In [35]:
list(vocab.items())[:100]

[('amor', 436),
 ('animus', 907),
 ('do', 2857),
 ('possum', 5880),
 ('habeo', 6613),
 ('google', 697),
 ('uideo', 4251),
 ('ualeo', 441),
 ('facio', 5891),
 ('uita', 1278),
 ('dico', 6654),
 ('deus', 1036),
 ('fero', 1987),
 ('lux', 1082),
 ('oculus', 2649),
 ('nomen', 2136),
 ('dies', 5150),
 ('mens', 601),
 ('os', 6732),
 ('musa', 193),
 ('acidalius', 102),
 ('bonus', 1010),
 ('uis', 2453),
 ('fides', 612),
 ('janus', 98),
 ('uolo', 1823),
 ('nouus', 952),
 ('uiuo', 677),
 ('dolor', 1055),
 ('pectus', 599),
 ('manus', 1347),
 ('ingenium', 469),
 ('tempus', 4281),
 ('homo', 2138),
 ('amicus', 413),
 ('magnus', 3618),
 ('carmen', 185),
 ('cura', 397),
 ('orbis', 1154),
 ('ago', 1172),
 ('felix', 448),
 ('flos', 527),
 ('uenio', 1317),
 ('amo', 274),
 ('diuus', 159),
 ('cor', 2420),
 ('mors', 719),
 ('caput', 5098),
 ('eo', 368),
 ('numen', 111),
 ('annus', 5028),
 ('spes', 229),
 ('capio', 587),
 ('dignus', 426),
 ('credo', 611),
 ('puer', 442),
 ('res', 3639),
 ('ars', 1282),
 ('honor', 363),
 ('rosa', 273),
 ('terra', 2919),
 ('fatum', 93),
 ('nox', 575),
 ('phoebus', 79),
 ('laus', 274),
 ('lumen', 569),
 ('miser', 129),
 ('doceo', 891),
 ('corpus', 4224),
 ('decus', 105),
 ('pater', 428),
 ('pes', 1436),
 ('uerus', 2250),
 ('numerus', 1512),
 ('opus', 1781),
 ('dea', 72),
 ('uates', 81),
 ('sacer', 469),
 ('poeta', 177),
 ('studium', 392),
 ('malus', 812),
 ('ocellus', 71),
 ('elegia', 67),
 ('gulielmius', 58),
 ('ius', 325),
 ('sanctus', 250),
 ('locus', 6157),
 ('munus', 226),
 ('uerbum', 859),
 ('nego', 348),
 ('adsum', 451),
 ('abeo', 210),
 ('hortus', 305),
 ('puto', 939),
 ('ops', 216),
 ('cupio', 239),
 ('unicus', 829),
 ('colo', 308),
 ('urbs', 857),
 ('uirtus', 866)]

In [36]:
# generate vocabularies for each half-century under scrutiny
periods = [(1501, 1550),
           (1551, 1600),
           (1601, 1650),
           (1651, 1700)]
periods_vocabs = []
full_vocabs = []
for per in periods:
    ids = metadata_table_long[metadata_table_long["file_year"].between(per[0], per[1])]["id"] # use the metadata table to extract IDs of all works falling into this period
    vocab = get_filtered_counts_by_ids(ids)
    periods_vocabs.append(vocab)

In [39]:
list(periods_vocabs[0].items())[:10]

[('aqua', 11747),
 ('terra', 14371),
 ('lapis', 4154),
 ('metallum', 1984),
 ('color', 6554),
 ('res', 29069),
 ('dico', 43255),
 ('possum', 25029),
 ('facio', 31814),
 ('habeo', 31690)]

In [52]:
# only 2,000 most common words for each period...
topn = 2000
vocabs_topn_lists =[list(vocab.keys())[:topn] for vocab in periods_vocabs]

In [53]:
# build one list of words, including all from these four sets, i.e. their union
vocab_union = set.union(*[set(vocab) for vocab in vocabs_topn_lists])
len(vocab_union)

4997

In [54]:
# add there also the words appearing both in lasla and operamaiora
vocab_union = set.union(*[set(vocab) for vocab in vocabs_topn_lists] + [set(vocab_overlap)])
len(vocab_union)

6643

In [55]:
vocab_union_df = pd.DataFrame(vocab_union, columns = ["word"])
vocab_union_df

                 word
0                 aca
1            mundanus
2              galena
3     constantissimus
4          conglutino
...               ...
6638           fulmen
6639         fictilis
6640   euangelizandus
6641           charta
6642       impotentia

[6643 rows x 1 columns]

In [56]:
# add the counts of these words from the vocabularies
def find_in_vocab(word, vocab):
    try:
        return vocab[word]
    except:
        return 0
for vocab, per in zip(periods_vocabs, [str(tup[0])+"-"+str(tup[1]) for tup in periods]):
    vocab_union_df[per] = vocab_union_df["word"].apply(lambda x: find_in_vocab(x, vocab))

In [57]:
# calculate the mean value for sorting
vocab_union_df["mean"] = vocab_union_df[vocab_union_df.columns[1:]].mean(axis=1)
vocab_union_df.sort_values("mean", ascending=False, inplace=True)
vocab_union_df.head(20)

        word  1501-1550  1551-1600  1601-1650  1651-1700      mean
3299    dico      43255     122549      42457      72224  70121.25
960     pars      33225      93059      44337      52385  55751.50
3871  possum      25029      82700      38391      76841  55740.25
6039   habeo      31690      89199      39443      59770  55025.50
2898   facio      31814      98524      36944      51438  54680.00
5630   liber      39559      65900      38496      53100  49263.75
4259     res      29069      70669      28291      51565  44898.50
1219   uideo      21536      59099      26372      50503  39377.50
5787   locus      23102      56782      31421      43680  38746.25
1257  corpus      16979      63171      22871      31938  33739.75
3514    dies      15785      44607      25850      44412  32663.50
4985      do      17291      47879      25457      36720  31836.75
1879  primus      19306      52164      25164      27764  31099.50
1095    aqua      11747      41231      20765      34038  26945.25
6532   terra      14371      27580      26947      38857  26938.75
6430   motus      11987      35310      24422      35870  26897.25
2846   ratio      12519      42955      20567      31100  26785.25
2202  natura      13925      46648      17722      24288  25645.75
1789  magnus      14494      39035      19243      26346  24779.50
4295  tempus      12875      32854      18432      30522  23670.75

In [58]:
vocab_union_df.tail(10)

             word  1501-1550  1551-1600  1601-1650  1651-1700  mean
5899       necnon          0          0          0          0   0.0
2257       saltem          0          0          0          0   0.0
4074     utcumque          0          0          0          0   0.0
1146  unusquisque          0          0          0          0   0.0
276    tantummodo          0          0          0          0   0.0
1451      dummodo          0          0          0          0   0.0
6121        alibi          0          0          0          0   0.0
23      huiusmodi          0          0          0          0   0.0
2991      instans          0          0          0          0   0.0
504        statim          0          0          0          0   0.0

In [59]:
# Filter only for words appearing at least 5 times in each of the subcorpora
filtered_vocab_df = vocab_union_df[
    (vocab_union_df['1501-1550'] >= 5) &
    (vocab_union_df['1551-1600'] >= 5) &
    (vocab_union_df['1601-1650'] >= 5) &
    (vocab_union_df['1651-1700'] >= 5)
    ]

In [60]:
len(filtered_vocab_df)

6005

In [61]:
filtered_vocab_df.head(10)

        word  1501-1550  1551-1600  1601-1650  1651-1700      mean
3299    dico      43255     122549      42457      72224  70121.25
960     pars      33225      93059      44337      52385  55751.50
3871  possum      25029      82700      38391      76841  55740.25
6039   habeo      31690      89199      39443      59770  55025.50
2898   facio      31814      98524      36944      51438  54680.00
5630   liber      39559      65900      38496      53100  49263.75
4259     res      29069      70669      28291      51565  44898.50
1219   uideo      21536      59099      26372      50503  39377.50
5787   locus      23102      56782      31421      43680  38746.25
1257  corpus      16979      63171      22871      31938  33739.75

In [62]:
filtered_vocab_df.tail(10)

              word  1501-1550  1551-1600  1601-1650  1651-1700   mean
619          basio          8         10         14          9  10.25
3818        peiero          6          6         12         15   9.75
411   catechumenus          6         17          6          9   9.50
4819          ipse          7         12          9          9   9.25
926        monumen          6         14         10          7   9.25
53        repudium          8          7          7         12   8.50
2757        charon         12          8          7          6   8.25
4473          iste          5         10         13          5   8.25
1083        semper          5          6          6          7   6.00
5121     inornatus          5          7          6          5   5.75

In [63]:
filtered_vocab_df["in_lila_embeddings"] = filtered_vocab_df["word"].apply(lambda x: x in vocab_overlap)

/tmp/ipykernel_404411/683937788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_vocab_df["in_lila_embeddings"] = filtered_vocab_df["word"].apply(lambda x: x in vocab_overlap)

In [64]:
filtered_vocab_df["in_lasla"] = filtered_vocab_df["word"].apply(lambda x: x in lasla_vocab)
filtered_vocab_df["in_operamaiora"] = filtered_vocab_df["word"].apply(lambda x: x in operamaiora_vocab)

/tmp/ipykernel_404411/683733648.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_vocab_df["in_lasla"] = filtered_vocab_df["word"].apply(lambda x: x in lasla_vocab)
/tmp/ipykernel_404411/683733648.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_vocab_df["in_operamaiora"] = filtered_vocab_df["word"].apply(lambda x: x in operamaiora_vocab)

In [65]:
filtered_vocab_df.head(100)

,word,1501-1550,1551-1600,1601-1650,1651-1700,mean,in_lila_embeddings,in_lasla,in_operamaiora
3299,dico,43255,122549,42457,72224,70121.25,True,True,True
960,pars,33225,93059,44337,52385,55751.50,True,True,True
3871,possum,25029,82700,38391,76841,55740.25,True,True,True
6039,habeo,31690,89199,39443,59770,55025.50,True,True,True
2898,facio,31814,98524,36944,51438,54680.00,True,True,True
...,...,...,...,...,...,...,...,...,...
4896,bonus,5865,16300,5389,9261,9203.75,True,True,True
2570,proprius,3576,17662,7350,8199,9196.75,True,True,True
4951,singulus,6167,13325,7083,9816,9097.75,True,True,True
2264,principium,4584,17735,6334,7463,9029.00,True,True,True
1346,utor,6760,16540,5331,7479,9027.50,True,True,True

In [66]:
filtered_vocab_df["in_lasla"].sum()

4820

In [67]:
filtered_vocab_df["in_operamaiora"].sum()

3962

In [68]:
filtered_vocab_df["in_lila_embeddings"].sum()

3708

# Add simple english translation

In [69]:
# simple latin API:
# https://www.latin-is-simple.com/api/

In [70]:
target = "equus"
base_url = "https://www.latin-is-simple.com/api/vocabulary/search/?query={}&forms_only=true"
resp_json = requests.get(base_url.format(target)).json()
resp_json

[{'id': 63,
  'intern_type': 'noun',
  'short_name': 'equus',
  'full_name': 'equus, equi [m.] O',
  'type': {'name': 'noun', 'label': 'Noun'},
  'translations_unstructured': {'en': 'horse', 'de': 'Pferd'},
  'url': 'https://www.latin-is-simple.com/en/vocabulary/noun/63/'}]

In [71]:
resp_json[0]["translations_unstructured"]["en"]

'horse'

In [72]:
def simple_translation(target):
    try:
        base_url = "https://www.latin-is-simple.com/api/vocabulary/search/?query={}&forms_only=true"
        resp_json = requests.get(base_url.format(target)).json()
        transl = resp_json[0]["translations_unstructured"]["en"]
        if transl == "still in translation":
            transl = ""
        return transl
    except:
        return ""

In [73]:
%%time
filtered_vocab_df["transl"] = filtered_vocab_df["word"].apply(simple_translation)

CPU times: user 49.9 s, sys: 3.06 s, total: 52.9 s
Wall time: 22min 35s

<timed exec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [74]:
filtered_vocab_df.head(20)

,word,1501-1550,1551-1600,1601-1650,1651-1700,mean,in_lila_embeddings,in_lasla,in_operamaiora,transl
3299,dico,43255,122549,42457,72224,70121.25,True,True,True,"say, call, tell"
960,pars,33225,93059,44337,52385,55751.50,True,True,True,part
3871,possum,25029,82700,38391,76841,55740.25,True,True,True,"be able, can"
6039,habeo,31690,89199,39443,59770,55025.50,True,True,True,"have, hold, possess, consider, think"
2898,facio,31814,98524,36944,51438,54680.00,True,True,True,"do, make, handle"
5630,liber,39559,65900,38496,53100,49263.75,True,True,True,"book, volume, inner bark of a tree, book, book"
4259,res,29069,70669,28291,51565,44898.50,True,True,True,suddenly
1219,uideo,21536,59099,26372,50503,39377.50,True,True,True,
5787,locus,23102,56782,31421,43680,38746.25,True,True,True,"place, location"
1257,corpus,16979,63171,22871,31938,33739.75,True,True,True,"body, corpus"
3514,dies,15785,44607,25850,44412,32663.50,True,True,True,"(1.) Day (2.) day, Day, Diary (3.) Day"
4985,do,17291,47879,25457,36720,31836.75,True,True,True,"give, offer, grant"
1879,primus,19306,52164,25164,27764,31099.50,True,True,True,"first, foremost, chief, principal"
1095,aqua,11747,41231,20765,34038,26945.25,True,True,True,"get/fetch/bring water, be watered"
6532,terra,14371,27580,26947,38857,26938.75,True,True,True,"land, earth"
6430,motus,11987,35310,24422,35870,26897.25,True,True,True,"movement, motion, riot, commotion, disturbance..."
2846,ratio,12519,42955,20567,31100,26785.25,True,True,True,"reckoning, account, reason, judgement, conside..."
2202,natura,13925,46648,17722,24288,25645.75,True,True,True,nature
1789,magnus,14494,39035,19243,26346,24779.50,True,True,True,big
4295,tempus,12875,32854,18432,30522,23670.75,True,True,True,"time, occasion, opportunity, condition, right ..."

In [75]:
filtered_vocab_df.to_json("../data/filtered_vocab_df.json")

In [2]:
!cp ../data/filtered_vocab_df.json /srv/data/tome/noscemus/filtered_vocab_df.json

In [76]:
# read the old one just for comparison
filtered_vocab_df_OLD = pd.read_json("../data/filtered_vocab_df_OLD.json")
filtered_vocab_df_OLD.head(20)

,word,1501-1550,1551-1600,1601-1650,1651-1700,mean,in_lila_embeddings,in_lasla,in_operamaiora,transl
5018,dico,42831,120825,41832,72221,69427.25,True,True,True,"say, call, tell"
6155,omnis,33152,108530,46009,66387,63519.50,True,True,True,
2515,facio,33323,109486,40134,53953,59224.00,True,True,True,"do, make, handle"
4040,pars,32591,90667,43593,51249,54525.00,True,True,True,part
6769,habeo,30884,87225,38386,57791,53571.50,True,True,True,"have, hold, possess, consider, think"
364,possum,23869,79572,36898,72892,53307.75,True,True,True,"be able, can"
897,res,27869,68790,27473,49014,43286.50,True,True,True,suddenly
4810,suus,23716,58975,33267,52441,42099.75,True,True,True,"his own, her own, its own, their own"
2392,uideo,21389,60143,28355,54288,41043.75,True,True,True,
1790,magnus,23446,61213,29708,39211,38394.50,True,True,True,"big, great"
2217,locus,22091,53908,30003,41517,36879.75,True,True,True,"place, location"
2377,corpus,16756,62316,22606,31319,33249.25,True,True,True,"body, corpus"
3110,multus,20473,50202,21654,34203,31633.00,True,True,True,many
2555,primus,19132,50620,23778,26045,29893.75,True,True,True,"first, foremost, chief, principal"
2853,do,16173,45404,21729,34157,29365.75,True,True,True,"give, offer"
4389,cap,18393,35181,21951,30471,26499.00,False,False,False,
1648,ratio,12325,42217,20289,30475,26326.50,True,True,True,"reckoning, account, reason, judgement, conside..."
1830,lib,16365,37925,21843,27512,25911.25,False,False,False,
4628,liber,22941,36345,17863,26167,25829.00,True,True,True,"book, volume, inner bark of a tree, book, book"
5471,aqua,11596,40688,19692,30750,25681.50,True,True,True,"get/fetch/bring water, be watered"